.ce-hyperlink-popup {
  min-width: 100px;
  font-size: 12px;
  line-height: 20px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(98 107 132 / 20%);
  border-radius: 2px;
  color: #3d4757;
  padding: 16px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  text-align: center;
  display: none;
}

.ce-hyperlink-popup a {
  cursor: pointer;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2px;
  color: #0000ff;
}