@import './control/select.css';

.inputarea {
  width: 0;
  height: 12px;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  letter-spacing: 0;
  font-size: 12px;
  position: absolute;
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  color: transparent;
  user-select: none;
  background-color: transparent;
}

.cursor {
  width: 1px;
  height: 20px;
  left: 0;
  right: 0;
  position: absolute;
  outline: none;
  background-color: #000000;
  pointer-events: none;
}

.cursor--animation {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: cursorAnimation;
}

@keyframes cursorAnimation {
  from {
    opacity: 1
  }

  13% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  63% {
    opacity: 1
  }

  to {
    opacity: 1
  }
}

.resizer-selection {
  position: absolute;
  border: 1px solid;
}

.resizer-selection>div {
  position: absolute;
  width: 10px;
  height: 10px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 30%);
  border-radius: 5px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.resizer-selection .handle-0 {
  cursor: nw-resize;
}

.resizer-selection .handle-1 {
  cursor: n-resize;
}

.resizer-selection .handle-2 {
  cursor: ne-resize;
}

.resizer-selection .handle-3 {
  cursor: e-resize;
}

.resizer-selection .handle-4 {
  cursor: se-resize;
}

.resizer-selection .handle-5 {
  cursor: s-resize;
}

.resizer-selection .handle-6 {
  cursor: sw-resize;
}

.resizer-selection .handle-7 {
  cursor: w-resize;
}

.resizer-image {
  position: absolute;
  opacity: 0.5;
}

.image-previewer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: previewerAnimation .3s;
}

@keyframes previewerAnimation {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.image-previewer .image-close {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 30px;
  z-index: 99;
  cursor: pointer;
  background: url(../images/close.svg) no-repeat;
  background-size: 100% 100%;
  transition: all .3s;
  border-radius: 50%;
}

.image-previewer .image-close:hover {
  background-color: #e2e6ed;
}

.image-previewer .image-container {
  position: relative;
}

.image-previewer .image-container img {
  cursor: move;
  position: relative;
}

.image-previewer .image-menu {
  height: 50px;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-previewer .image-menu i {
  width: 32px;
  height: 32px;
  margin: 0 8px;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all .3s;
  border-radius: 50%;
}

.image-previewer .image-menu i:hover {
  background-color: #e2e6ed;
}

.image-previewer .image-menu i.zoom-in {
  background-image: url(../images/zoom-in.svg);
}

.image-previewer .image-menu i.zoom-out {
  background-image: url(../images/zoom-out.svg);
}

.image-previewer .image-menu i.rotate {
  background-image: url(../images/rotate.svg);
}

.image-previewer .image-menu i.original-size {
  background-image: url(../images/original-size.svg);
}

.image-previewer .image-menu i.image-download {
  background-image: url(../images/image-download.svg);
}

.table-tool__row {
  position: absolute;
  width: 12px;
  border-radius: 6.5px;
  overflow: hidden;
  background-color: #E2E6ED;
}

.table-tool__row .table-tool__row__item {
  width: 100%;
  position: relative;
}

.table-tool__row .table-tool__row__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 8px;
  height: 1px;
  background-color: #C0C6CF;
}

.table-tool__row .table-tool__row__item:last-child:after {
  display: none;
}

.table-tool__col {
  position: absolute;
  height: 12px;
  border-radius: 6.5px;
  overflow: hidden;
  background-color: #E2E6ED;
  display: flex;
}

.table-tool__col .table-tool__col__item {
  height: 100%;
  position: relative;
}

.table-tool__col .table-tool__col__item::after {
  content: '';
  position: absolute;
  top: 2px;
  left: -1px;
  width: 1px;
  height: 8px;
  z-index: 1;
  background-color: #C0C6CF;
}

.table-tool__col .table-tool__col__item:first-child:after {
  display: none;
}

.table-tool__row .table-tool__row__item.active,
.table-tool__col .table-tool__col__item.active {
  background-color: #C4D7FA;
}

.table-tool__col .table-tool__anchor {
  right: -5px;
  width: 10px;
  height: 12px;
  z-index: 9;
  position: absolute;
  cursor: col-resize;
}

.table-tool__row .table-tool__anchor {
  bottom: -5px;
  left: 0;
  width: 12px;
  height: 10px;
  z-index: 9;
  position: absolute;
  cursor: row-resize;
}

.table-anchor__line {
  z-index: 9;
  position: absolute;
  border: 1px dotted #000000;
}

.contextmenu-container {
  z-index: 9;
  position: fixed;
  display: none;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  border: 1px solid #e2e6ed;
  border-radius: 2px;
}

.contextmenu-content {
  display: flex;
  flex-direction: column;
}

.contextmenu-content .contextmenu-sub-item::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  right: 12px;
  background: url(../images/submenu-dropdown.svg);
}

.contextmenu-content .contextmenu-item {
  min-width: 140px;
  padding: 0 32px 0 16px;
  height: 30px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
}

.contextmenu-content .contextmenu-item.hover {
  background: rgba(25, 55, 88, .04);
}

.contextmenu-content .contextmenu-item span {
  font-size: 12px;
  color: #3d4757;
}

.contextmenu-content .contextmenu-item span.shortcut {
  color: #767c85;
  height: 30px;
  flex: 1;
  text-align: right;
  line-height: 30px;
  margin-left: 20px;
}

.contextmenu-content .contextmenu-item i {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  flex-shrink: 0;
  margin-right: 8px;
}

.contextmenu-divider {
  background-color: #e2e6ed;
  margin: 4px 16px;
  height: 1px;
}

.contextmenu-print {
  background-image: url(../../assets/images/print.svg);
}

.contextmenu-image {
  background-image: url(../../assets/images/image.svg);
}

.contextmenu-image-change {
  background-image: url(../../assets/images/image-change.svg);
}

.contextmenu-insert-row-col {
  background-image: url(../../assets/images/insert-row-col.svg);
}

.contextmenu-insert-top-row {
  background-image: url(../../assets/images/insert-top-row.svg);
}

.contextmenu-insert-bottom-row {
  background-image: url(../../assets/images/insert-bottom-row.svg);
}

.contextmenu-insert-left-col {
  background-image: url(../../assets/images/insert-left-col.svg);
}

.contextmenu-insert-right-col {
  background-image: url(../../assets/images/insert-right-col.svg);
}

.contextmenu-delete-row-col {
  background-image: url(../../assets/images/delete-row-col.svg);
}

.contextmenu-delete-row {
  background-image: url(../../assets/images/delete-row.svg);
}

.contextmenu-delete-col {
  background-image: url(../../assets/images/delete-col.svg);
}

.contextmenu-delete-table {
  background-image: url(../../assets/images/delete-table.svg);
}

.contextmenu-merge-cell {
  background-image: url(../../assets/images/merge-cell.svg);
}

.contextmenu-merge-cancel-cell {
  background-image: url(../../assets/images/merge-cancel-cell.svg);
}

.hyperlink-popup {
  min-width: 100px;
  font-size: 12px;
  line-height: 20px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(98 107 132 / 20%);
  border-radius: 2px;
  color: #3d4757;
  padding: 16px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  display: none;
}

.hyperlink-popup a {
  cursor: pointer;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 2px;
  color: #0000ff;
}