:root {
  --vp-c-brand: #10b981;
  --vp-c-brand-1: #10b981;
  --vp-c-brand-2: #059669;
  --vp-c-brand-3: #047857;
  --vp-c-brand-soft: rgba(16, 185, 129, 0.14);

  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
  --vp-button-brand-border: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-3);
}

.dark {
  --vp-c-brand: #10b981;
  --vp-c-brand-1: #34d399;
  --vp-c-brand-2: #10b981;
  --vp-c-brand-3: #059669;
  --vp-c-brand-soft: rgba(16, 185, 129, 0.16);
}

.VPHero .name,
.VPHero .text {
  max-width: 100%;
}
